/* Подключение шрифтов */
@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprum.woff2") format("woff2"),
    url("/fonts/cuprum.woff") format("woff");
  font-style: normal;  
  font-weight: 400;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprumbold.woff2") format("woff2"),
    url("/fonts/cuprumbold.woff") format("woff"); 
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprumbolditalic.woff2") format("woff2"),
    url("/fonts/cuprumbolditalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprumitalic.woff2") format("woff2"),
    url("/fonts/cuprumitalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: url("/fonts/ptsans.woff2") format("woff2"),
    url("/fonts/ptsans.woff") format("woff");
  font-style: normal;  
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: url("/fonts/ptsansbold.woff2") format("woff2"),
    url("/fonts/ptsansbold.woff") format("woff");
  font-style: normal; 
  font-weight: 700;
}
/********************* BODY *********************/

body {
  margin: 0;
  padding: 0;  
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0,0,0,0);
}

/********************* HEADER *********************/

.box-top {
  width: 100%;
  background-color: #293449;
}

.header {
  background-color: #f4f7f9;
}

.wrap {
  max-width: 940px;
  margin: 0 auto;
}

.top-link {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;  
}

.top-nav {
  position: relative;
}

.logo-item {  
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 55px;
  font-family: "Cuprum", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  z-index: 1;
  cursor: pointer;
}

.logo-item:hover {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ca2c37;
}

.logo-item:active {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}

.logo-item a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.search-item {
  position: relative;
}

.search-item label {
  position: absolute;
  display: inline-block;  
  top: 15px;
  left: 18px;
  width: 17px;
  height: 17px;
  background-image: url("/img/icon-search.png");
  background-repeat: no-repeat;
  opacity: 0.3;  
}

.search-item input[type="search"] {  
  width: 270px; 
  padding: 14px 0 14px 49px;   
  background-color: transparent;
  border: none; 
  outline: none; 
  cursor: pointer;
}

input[type="search"]:hover + label {  
  opacity: 1;
}

.search-item input[type="search"]:focus {  
  background-color: #ffffff;
}

input[type="search"]:focus + label {   
  background-image: url("/img/icon-search-red.png");
  background-repeat: no-repeat;
} 

input[type="search"]::placeholder {
  color: #ffffff;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 15px;
}

.top-link a {
  display: inline-block;
  text-decoration: none;
}

.bookmarks-item,.cart-item,
.checkout-item {
  position: relative;
  width: 16%;
  padding: 14px 0;
  text-align: center;
}

.bookmarks-item a::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 15px;
  left: 10px;
  width: 14px;
  height: 16px;
  background-image: url("/img/icon-bookmark_копия_3.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks-item:hover a::before {
  opacity: 1;
}

.bookmarks-item:hover {
  background-color: #212a3a;
}

.bookmarks-item:active a::before {
  opacity: 0.5;
}

.bookmarks-item:active {
  background-color: #161d29;
  opacity: 0.5;
}

.cart-item a::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 15px;
  left: 10px;
  width: 14px;
  height: 16px;
  background-image: url("/img/cart-icon_копия_2.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.cart-item:hover a::before {
  opacity: 1;
}

.cart-item:hover {
  background-color: #212a3a;
}

.cart-item:active a::before {
  opacity: 0.5;
}

.cart-item:active {
  background-color: #161d29;
  opacity: 0.5;
}

.checkout-item {
  background-color: #63a63e;
}

.checkout-item:hover {
  background-color: #5fbb2d;
}

.checkout-item:active {
  background-color: #518534;
  opacity: 0.5;
}

.btn-bm {    
  color: #ffffff;
  line-height: 19px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-cart {  
  color: #ffffff;
  line-height: 19px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-chechuot {
  color: #ffffff;
  line-height: 19px;  
  border: none;
  outline: none;
  cursor: pointer;
}

.middle-menu {
  padding: 45px 0 45px 50px;
  display: flex;
  justify-content: flex-start;  
}

.description-menu {
  width: 23%;
  margin: 0;
  margin-right: 60px;
  color: #ee3643;
  font-family: "Cuprum", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}


.box-tel {
  width: 30%;
  margin-right: 72px;
}

.tel {
  position: relative;
  margin: 0;  
  margin-bottom: 10px;
  padding: 11px 0 11px 74px; 
  font-size: 21px;
  font-weight: 400;
  line-height: 16px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.tel::before {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 19px;
  height: 19px;
  content: "";
  background-image: url("/img/icon-phone.png");
  background-repeat: no-repeat;
}

.address {
  color: #32425c;
  font-size: 14px;
  line-height: 14px;
}

.authorization a {
  display: inline-block;
  padding: 14px 0;
  font-size: 21px;  
  line-height: 16px;
  color: #000000;
  vertical-align: top;
  text-decoration: none;
  background-color: #ffffff;
}

.authorization a:hover {
  color: #ee3643;
}
.authorization a:active {
  color: #c5c5c5;
  
}

.authorization .enter {
  position: relative;
  width: 120px;
  margin-right: 10px;
  padding-left: 48px;
  box-sizing: border-box;
}

.authorization .enter::before {
  position: absolute;
  top: 14px;
  left: 14px;
  display: inline-block;
  width: 20px;
  height: 17px;
  content: "";
  background-image: url("/img/icon-login.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.authorization .enter:hover::before {
  opacity: 1;
}

.authorization .enter:active::before {
  opacity: 0.3;
}

.authorization .registration {
  width: 150px;
  text-align: center;
}

.bottom-nav {    
  padding-bottom: 60px;
}

.list-nav {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;  
  list-style: none;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.item-nav {
  width: 15%;  
  padding: 23px 31px;
  text-align: center;
  cursor: pointer;
}

.item-nav:first-child {
  padding-left: 50px;
}

.item-nav:last-child {
  padding-right: 50px;
}

.item-nav:hover {
  background-color: #293449;  
}

.item-nav:active {
  background-color: #1d2739; 
}

.item-nav a {
  color: #ffffff;
  line-height: 12px;
  text-decoration: none;
}

.item-nav a:active {
 color: #757b86;
}

/********************* OpporTunitieS *********************/

.box-opportunities {
  position: relative;
  padding: 55px 0;
}

.opportunities {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

}

.item-opp {
  width: 32%;
  margin-right: 18px;
}

.item-opp h2 {
  margin: 26px 0 15px 23px;  
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
}

.item-opp a {
  width: 135px;
  display: inline-block;
  margin-left: 23px;
  margin-bottom: 22px;
  padding: 12px 0;  
  font-size: 14px;
  line-height: 12px;  
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;  
  color: #ffffff;
  background-color: rgba( 0, 0, 0, 0.1);  
  }


.item-opp a:hover {
  background-color: rgba( 0, 0, 0, 0.2);  
}

.item-opp a:active {
  background-color: rgba( 0, 0, 0, 0.3);  
}

.yellow {
  position: relative;
  background-image: url("/img/icon-1.png");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-color: #ffbf47;  
}

.yellow-img {
  position: absolute;
  top: 0;
  right: 0;
}

.blue {
  background-image: url("/img/icon-2.png");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-color: #3bbce3;
}

.purple {
  background-image: url("/img/icon-3.png");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-color: #dc91d8;
  margin-right: 0;
}

.green {
  max-height: 123px;  
  background-image: url("/img/icon-4.png");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-color: #8ed78f;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0;
  
}

.yellow:last-child{
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("/img/icon-1.png");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  margin-right: 0;
}

.slider-controls {  
  position: absolute;  
  top: 310px;
  left: 20px;
  z-index: 1;
}

.slider-left {   
  display: inline-block;
  width: 20px;
  height: 40px;
  margin-right: 530px;  
  background-image: url("/img/icon-left.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.slider-right {  
  display: inline-block; 
  width: 20px;
  height: 40px;
  background-image: url("/img/icon-right.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

#product-1:checked ~ .opportunities li:nth-child(4),
#product-2:checked ~ .opportunities li:nth-child(5) {
  display: block;
}

.item-slider {
  display: none;
  width: 66%;
  margin-top: 20px;
  margin-right: 18px;
  padding: 26px 0 22px 25px;
  background-image: url("/img/Layer_99_2.jpg");
  background-repeat: no-repeat;  
  background-position: 50% 50%;
  box-sizing: border-box;
}

.opportunities li:nth-child(5) {
  display: none;
  background-image: url("/img/Layer_99.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
  

.item-slider h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.item-slider span {
  display: block;  
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
}

.item-slider a {
  display: block;
  width: 192px;
  margin-top: 125px;
  padding: 14px 0;
  font-size: 14px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;
}

.item-slider a:hover {
  background-color: #ca2c37;
}

.item-slider a:active {
  background-color: #ba2732;
}