/* Подключение шрифтов */
@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprum.woff2") format("woff2"),
    url("/fonts/cuprum.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprumbold.woff2") format("woff2"),
    url("/fonts/cuprumbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprumbolditalic.woff2") format("woff2"),
    url("/fonts/cuprumbolditalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: "Cuprum";
  src: url("/fonts/cuprumitalic.woff2") format("woff2"),
    url("/fonts/cuprumitalic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: url("/fonts/ptsans.woff2") format("woff2"),
    url("/fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PTSans";
  src: url("/fonts/ptsansbold.woff2") format("woff2"),
    url("/fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

/********************* BODY *********************/

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  font-weight: 400;
  color: #ffffff;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.wrap {
  max-width: 940px;
  margin: 0 auto;
}

/********************* HEADER *********************/

.box-top {
  width: 100%;
  background-color: #293449;
}

.header {
  background-color: #f4f7f9;
}

.top-link {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.top-nav {
  position: relative;
}

.logo-item {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 55px;
  font-family: "Cuprum", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  z-index: 1;
  cursor: pointer;
}

.logo-item:hover {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ca2c37;
}

.logo-item:active {
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ba2732;
}

.logo-item a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.search-item {
  position: relative;
}

.search-item label {
  position: absolute;
  display: inline-block;
  top: 15px;
  left: 18px;
  width: 17px;
  height: 17px;
  background-image: url("/img/icon-search.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.search-item input[type="search"] {
  width: 270px;
  padding: 14px 0 14px 49px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type="search"]:hover+label {
  opacity: 1;
}

.search-item input[type="search"]:focus {
  background-color: #ffffff;
}

input[type="search"]:focus+label {
  background-image: url("/img/icon-search-red.png");
  background-repeat: no-repeat;
}

input[type="search"]::placeholder {
  color: #ffffff;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 15px;
}

.top-link a {
  display: inline-block;
  text-decoration: none;
}

.bookmarks-item,
.cart-item,
.checkout-item {
  position: relative;
  width: 16%;
  padding: 14px 0;
  text-align: center;
}

.bookmarks-item a::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 15px;
  left: 10px;
  width: 14px;
  height: 16px;
  background-image: url("/img/icon-bookmark_копия_3.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.bookmarks-item:hover a::before {
  opacity: 1;
}

.bookmarks-item:hover {
  background-color: #212a3a;
}

.bookmarks-item:active a::before {
  opacity: 0.5;
}

.bookmarks-item:active {
  background-color: #161d29;
  opacity: 0.5;
}

.cart-item a::before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 15px;
  left: 10px;
  width: 14px;
  height: 16px;
  background-image: url("/img/cart-icon_копия_2.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.cart-item:hover a::before {
  opacity: 1;
}

.cart-item:hover {
  background-color: #212a3a;
}

.cart-item:active a::before {
  opacity: 0.5;
}

.cart-item:active {
  background-color: #161d29;
  opacity: 0.5;
}

.checkout-item {
  background-color: #63a63e;
}

.checkout-item:hover {
  background-color: #5fbb2d;
}

.checkout-item:active {
  background-color: #518534;
  opacity: 0.5;
}

.btn-bm {
  color: #ffffff;
  line-height: 19px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-cart {
  color: #ffffff;
  line-height: 19px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-chechuot {
  color: #ffffff;
  line-height: 19px;
  border: none;
  outline: none;
  cursor: pointer;
}

.middle-menu {
  padding: 45px 0 45px 50px;
  display: flex;
  justify-content: flex-start;
}

.description-menu {
  width: 23%;
  margin: 0;
  margin-right: 60px;
  color: #ee3643;
  font-family: "Cuprum", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}


.box-tel {
  width: 30%;
  margin-right: 72px;
}

.tel {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 11px 0 11px 74px;
  font-size: 21px;
  font-weight: 400;
  line-height: 16px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.tel::before {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 19px;
  height: 19px;
  content: "";
  background-image: url("/img/icon-phone.png");
  background-repeat: no-repeat;
}

.address {
  color: #32425c;
  font-size: 14px;
  line-height: 14px;
}

.authorization a {
  display: inline-block;
  padding: 14px 0;
  font-size: 21px;
  line-height: 16px;
  color: #000000;
  vertical-align: top;
  text-decoration: none;
  background-color: #ffffff;
}

.authorization a:hover {
  color: #ee3643;
}

.authorization a:active {
  color: #c5c5c5;

}

.authorization .enter {
  position: relative;
  width: 120px;
  margin-right: 10px;
  padding-left: 48px;
  box-sizing: border-box;
}

.authorization .enter::before {
  position: absolute;
  top: 14px;
  left: 14px;
  display: inline-block;
  width: 20px;
  height: 17px;
  content: "";
  background-image: url("/img/icon-login.png");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.authorization .enter:hover::before {
  opacity: 1;
}

.authorization .enter:active::before {
  opacity: 0.3;
}

.authorization .registration {
  width: 150px;
  text-align: center;
}

.bottom-nav {
  padding-bottom: 60px;
}

.list-nav {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}

.item-nav {
  width: 15%;
  padding: 23px 31px;
  text-align: center;
  cursor: pointer;
}

.item-nav:first-child {
  padding-left: 50px;
}

.item-nav:last-child {
  padding-right: 50px;
}

.item-nav:hover {
  background-color: #293449;
}

.item-nav:active {
  background-color: #1d2739;
}

.item-nav a {
  color: #ffffff;
  line-height: 12px;
  text-decoration: none;
}

.item-nav a:active {
  color: #757b86;
}

/********************* OpporTunitieS *********************/

.box-opportunities {
  position: relative;
  padding: 55px 0;
}

.opportunities {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

}

.item-opp {
  width: 32%;
  margin-right: 18px;
}

.item-opp h2 {
  margin: 26px 0 15px 23px;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
}

.item-opp a {
  width: 135px;
  display: inline-block;
  margin-left: 23px;
  margin-bottom: 22px;
  padding: 12px 0;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
}


.item-opp a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.item-opp a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.yellow {
  position: relative;
  background-image: url("/img/icon-1.png");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-color: #ffbf47;
}

.yellow-img {
  position: absolute;
  top: 0;
  right: 0;
}

.blue {
  background-image: url("/img/icon-2.png");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-color: #3bbce3;
}

.purple {
  background-image: url("/img/icon-3.png");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-color: #dc91d8;
  margin-right: 0;
}

.green {
  max-height: 123px;
  background-image: url("/img/icon-4.png");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-color: #8ed78f;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0;

}

.yellow:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("/img/icon-1.png");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  margin-right: 0;
}

.slider-controls {
  position: absolute;
  top: 310px;
  left: 20px;
  z-index: 1;
}

.slider-left {
  display: inline-block;
  width: 20px;
  height: 40px;
  margin-right: 530px;
  background-image: url("/img/icon-left.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

.slider-right {
  display: inline-block;
  width: 20px;
  height: 40px;
  background-image: url("/img/icon-right.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
}

#product-1:checked~.opportunities li:nth-child(4),
#product-2:checked~.opportunities li:nth-child(5) {
  display: block;
}

.item-slider {
  display: none;
  width: 66%;
  margin-top: 20px;
  margin-right: 18px;
  padding: 26px 0 22px 25px;
  background-image: url("/img/Layer_99_2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-sizing: border-box;
}

.opportunities li:nth-child(5) {
  display: none;
  background-image: url("/img/Layer_99.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.item-slider h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.item-slider span {
  display: block;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
}

.item-slider a {
  display: block;
  width: 192px;
  margin-top: 125px;
  padding: 14px 0;
  font-size: 14px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;
}

.item-slider a:hover {
  background-color: #ca2c37;
}

.item-slider a:active {
  background-color: #ba2732;
}

/* BOX-GOODS */

.box-goods {
  margin-bottom: 21px;
}

.goods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px;
  background-color: #f9f5f0;
}

.goods__title {
  width: 30%;
  margin: 0;
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.goods__all {
  display: inline-block;
  padding: 14px 55px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
}

.goods__all:hover {
  background-color: #ca2c37;
}

.goods__all:active {
  background-color: #ba2732;
}

.goods__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.goods__item {
  width: 24%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}

.goods__item:last-child {
  position: relative;
  margin-right: 0;
}

.goods_flag {
  position: absolute;
  top: 0;
  right: 0;
}

.goods__item:last-child .goods__name {
  margin-bottom: 42px;
}

.goods__name {
  width: 75%;
  margin-top: 0;
  margin-bottom: 18px;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.drill_one {
  padding: 6px 19px 13px 17px;
}

.drill_two {
  padding: 29px 53px 42px 40px;
}

.drill_three {
  padding: 22px 49px 33px 27px;
}

.drill_four {
  padding: 29px 61px 42px 32px;
}

.goods__sale {
  display: inline-block;
  margin-bottom: 13px;
  color: #a9a9a9;
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

.box-price {
  width: 65%;
  margin-bottom: 21px;
  padding: 13px 0;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  background-image: url("/img/btn_red.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* BOX-MANUFACTIRER */

.box-manufacturer {
  padding-bottom: 85px;
}

.manufacturer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 25px;
  background-color: #f9f5f0;
}

.manufacturer__title {
  width: 45%;
  margin: 0;
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
}

.manufacturer__all {
  display: inline-block;
  padding: 14px 55px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
}

.manufacturer__all:hover {
  background-color: #ca2c37;
}

.manufacturer__all:active {
  background-color: #ba2732;
}

.manufacturer__link {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style: none;
}

.manufacturer__item {
  width: 23%;
  margin-right: 20px;

  text-align: center;

  border: 1px solid #eaeaea;
  cursor: pointer;
}

.manufacturer__item:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.manufacturer__item:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;

}

.manufacturer__item a {
  display: inline-block;
  text-decoration: none;
}

.manufacturer__item:nth-child(4),
.manufacturer__item:nth-child(8) {
  margin-right: 0;
}

.manufacturer__item:nth-child(1),
.manufacturer__item:nth-child(2),
.manufacturer__item:nth-child(3),
.manufacturer__item:nth-child(4) {
  margin-bottom: 20px;
}

.manufacturer__item:nth-child(1) {
  padding: 53px 0 55px 0;
}

.manufacturer__item:nth-child(2) {
  padding: 50px 0 55px 0;
}

.manufacturer__item:nth-child(3) {
  padding: 48px 0 53px 0;
}

.manufacturer__item:nth-child(4) {
  padding: 21px 0 36px 0;
}

.manufacturer__item:nth-child(5) {
  padding: 58px 0 56px 0;
}

.manufacturer__item:nth-child(6) {
  padding: 35px 0 37px 0;
}

.manufacturer__item:nth-child(7) {
  padding: 23px 0 26px 0;
}

.manufacturer__item:nth-child(8) {
  padding: 34px 0 42px 0;
}

/* SERVICE */
.page_blue {
  background-color: #f4f8f9;
}

.services {
  width: 46%;
  padding: 68px 0 74px 0;
}

.services__title {
  margin: 0 0 40px 0;
  font-size: 30px;
  color: #000000;
  line-height: 25px;
  text-transform: uppercase;
}

.services__text {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
}

.aside {
  padding-bottom: 100px
}

.aside-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
  margin: 0;
  padding: 0;

  position: relative;

  list-style: none;

}

.aside-menu__block {
  position: absolute;
  top: -25%;
  left: 24.5%;
  z-index: 1;
}

.aside-menu__item {
  width: 25.5%;
  padding: 20px 0 20px 22px;
  text-align: left;
  background-color: #32425c;
  border-bottom: 1px solid #41556c;
  box-sizing: border-box;
  cursor: pointer;
}

.aside-menu__item:last-child {
  border-bottom: none;
}

.aside-menu__link {
  color: #ffffff;
  font-size: 21px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
}

.aside-menu__item:hover {
  background-color: #ffffff;
}

.aside-menu__item:hover .aside-menu__link {
  color: #32425c;
}

.aside-delivery {
  position: relative;
}

.aside-delivery:hover .delivery,
.aside-warranty:hover .warranty,
.aside-credit:hover .credit {
  display: block;
}

.delivery {
  display: none;

  width: 620px;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;

  position: absolute;
  top: 0;
  left: 300px;

  list-style: none;

  background-image: url("/img/Layer_131.png");
  background-repeat: no-repeat;
  background-position: 100% 30px;
}

.warranty {
  display: none;

  width: 620px;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;

  position: absolute;
  top: 0;
  left: 320px;

  list-style: none;

  background-image: url("/img/Layer_130.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.credit {
  display: none;

  width: 620px;
  margin: 0;
  padding: 0;
  padding-bottom: 100px;

  position: absolute;
  top: 0;
  left: 320px;

  list-style: none;

  background-image: url("/img/Layer_119.png");
  background-repeat: no-repeat;
  background-position: 100% 0px;

}

.delivery__container {
  width: 275px;
}

.warranty__container {
  width: 375px;
}

.credit__container {
  width: 279px;
}

.delivery__title,
.warranty__title,
.credit__title {
  margin: 0 0 25px 0;
  color: #32425c;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.delivery__text,
.warranty__text,
.credit__text {
  margin: 0;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.credit__text {
  margin-bottom: 30px;
}

.credit__link {
  display: block;
  width: 195px;
  padding: 14px 0;

  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  border-radius: 2px;

  background-color: #ff5357;
}

.credit__link:hover {
  background-color: #ca2c37;
}

.credit__link:active {
  background-color: #ba2732;
}

/* SHOP-CONTAINER */

.shop-container {
  display: flex;
  justify-content: flex-start;

  padding: 85px 0;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 60%;
  margin-right: 85px;

  color: #000000;
}

.about__title {
  margin: 0 0 35px 0;

  font-size: 30px;
  line-height: 25px;

  text-transform: uppercase;
}

.about__text {
  margin: 0 0 35px 0;

  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.about__text-2 {
  margin-bottom: 30px;
}

.about__item {
  display: block;

  position: relative;

  margin-bottom: 15px;
  padding-left: 35px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.about__item::before {
  display: inline-block;

  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;
  content: "";

  background-color: #ee3643;
}

.about__item:last-child {
  margin-bottom: 0px;
}

.about__text-3 {
  margin: 0 0 35px 0;
}

.about__btn {
  display: block;
  width: 220px;
  padding: 14px 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ee3643;
  border-radius: 2px;
}

.about__btn:hover {
  background-color: #ca2c37;
}

.about__btn:active {
  background-color: #ba2732;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 32%;
  color: #000000;
}

.contacts__title {
  margin: 0 0 35px 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts__text {
  margin: 0 0 35px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;

}

.contacts__map {
  margin-bottom: 35px;
}

.contacts__btn {
  width: 300px;
  padding: 14px 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 12px;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.contacts__btn:hover {
  background-color: #ca2c37;
}

.contacts__btn:active {
  background-color: #ba2732;
}

/* FOOTER */

.footer-container_light-blue {
  background-color: #32425c;
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 53px;
}

.footer-menu {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.footer-logo {
  width: 220px;
  margin-right: 170px;
  padding: 22px 0;
  
  
  font-size: 30px;  
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  text-transform: uppercase;

  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;

  cursor: pointer;
}

.footer-logo:hover {
  background-color: #ca2c37;
}

.footer-logo:active {
  background-color: #ba2732;
}

.footer-logo__link {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.footer-menu-up {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu-up__item {
  margin-right: 60px;
  font-size: 18px;
  line-height: 15px;
}

.footer-menu-up__item:last-child {
  margin-right: 0;
}

.footer-menu-up__link {
  color: #f3f7f9;
  text-decoration: none;
}

.footer-menu-up__link:hover {
  text-decoration: underline;
}

.footer-menu-up__link:active {
  color: #f1f5f7;
  text-decoration: none;
  opacity: 0.5;
}

.footer-submenu {
  display: flex;
  justify-content: flex-start;
}

.footer-submenu__address {
  width: 35%;
  margin: 0;
  margin-right: 85px;

  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
}

.footer-submenu__down {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-submenu__item {
  margin-right: 60px;
  font-size: 18px;  
  line-height: 18px;
}

.footer-submenu__item:last-child {
  margin-right: 0;  
}

.footer-submune__link {
  color: #ffda96;
  text-decoration: none;
}

.footer-submune__link:hover {
  text-decoration: underline;

}

.footer-submune__link:active {  
  color: #f1f5f7;
  opacity: 0.5;
  text-decoration: none; 
}

.footer-container_blue {
  background-color: #293449;
  padding-top: 39px;
  padding-bottom: 35px;
}

.footer-down {
  display: flex;
  justify-content: flex-start;  
}

.watermark {
  width: 25%;
  margin-right: 162px;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.social {
  width: 15%;
  margin: 0;
  margin-right: 120px;
  padding: 0;

  list-style: none;
}

.social__item {
  display: inline-block;
  margin-right: 4px;
  width: 41px;
  height: 42px;  
  background-color: #212a3a;
  border-radius: 50%;
}

.social__item:hover {
  background-color: #ee3643;
}

.social__item:active {
  background-color: #d32834;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: inline-block;  
  width: 41px;
  height: 42px;  
  text-decoration: none;
}

.social__link_vk {
  background-image: url(/img/vk-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__link_fb {
  background-image: url(/img/fb-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social__link_inst {
  background-image: url(/img/insta-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-email {
  display: flex;
  justify-content: flex-start;
}

.footer-email__item {
  margin: 0;
  margin-right: 45px;
  font-size: 16px;
  line-height: 18px;
}

.footer-email__item:last-child{
  margin-right: 0;
}

.footer-email__link {
  display: block;

  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.footer-email__link:hover {
  text-decoration: underline;
}

.footer-email__link:active {
  color: #ee3643;
  text-decoration: none;
}



